@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'DM Sans', 'Roboto', Arial, Verdana;
    color: #FFF;
    font-size: 12px;
    background: url('../img/bg.jpg') no-repeat center;
    background-size: cover;
}

button, a {
    outline: none;
    cursor: pointer;
}

ul, p {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wrap {
    display: flex;
    flex-flow: column nowrap;
    width: 320px;
    margin: 0 auto;
    min-height: 100%;
    padding: 0;

    h1 {
        margin: 20px 0;
        display: block;
        font-size: 60px;
        text-align: center;
        height: 60px;
    }

    h2 {
        margin: 0;
        display: block;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        color: #A09118;
        height: 30px;
    }

    .copy {
        display: flex;
        margin: 0 auto 20px auto;
        width: 64px;
        height: 40px;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        color: #FFF;
        text-decoration: none;
        background: #A09118;
        border-radius: 6px;
        cursor: pointer;
    }

    .address, .trade {
        display: block;
        font-size: 12px;
        text-align: center;
        color: #FFF;
        height: 40px;
    }

    .trade {
        font-weight: bold;
        font-size: 16px;

        a {
            color: #FFF;
            text-decoration: underline;
        }
    }

    .social {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;

        a {
            display: block;
            margin: 5px;
            width: 30px;
            height: 30px;
            border-radius: 15px;

            &.dextools {
                background: url('../img/icon-dextools.svg') no-repeat center #000;
                background-size: 18px;
            }

            &.x {
                background: url('../img/icon-x.svg') no-repeat center #000;
                background-size: 14px;
            }

            &.telegram {
                background: url('../img/icon-telegram.svg') no-repeat center #000;
                background-size: 14px;
            }

            &.dexscreener {
                background: url('../img/icon-dexscreener.svg') no-repeat center #000;
                background-size: 18px;
            }

            &.solana {
                background: url('../img/icon-sol.svg') no-repeat center #000;
                background-size: 30px;
            }

            &.pond {
                background: url('../img/icon-pond.png') no-repeat center;
                background-size: 30px;
            }
        }
    }

    .gnomed {
        display: block;
        margin: 20px 0;
        width: 300px;
        height: 300px;
        background: url('../img/gnomechild.png') no-repeat center bottom;
        background-size: 300px;
        border-radius: 10px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #6E615F; 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #B4ADAC; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E7E1E1;
}
